body
{
	background: url("bckgrnd.png");
}

.login_div1 , .login_div2
{
	background: skyblue;
	padding: 15px;
	float: unset;
	border-radius: 15px;
}

h1
{
	color: blue;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3
{
	color:aquamarine;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}

#word
{
	width: 60%;
}

#word_display
{
	letter-spacing: 5px;
}

#output
{
	background: darkcyan;
	border-radius: 10px;
	border-top: 10px solid #c76282;
	padding: 10px;
	float: none;
	text-align: left;
}

.button
{
	background-color: lightskyblue;
	border: none;
	color: lightblue;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
